.character {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: 24px;
}

.run {
  animation: none;
}

@keyframes run-sprite {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
